<div class="container" style="margin-top: 50px;">
  <div class="alert alert-success fade" data-dismiss="alert" role="alert" #modalMessage>
    <strong>Well done!</strong> {{messageFromBackend}}
  </div>
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(f, modalMessage)" #f="ngForm">
        <div class="col-12" style="margin-bottom: 20px;">
          <label for="employee-name">Your name</label>
          <input type="text" name="name" id="employee-name" class="form-control" placeholder="Name" required ngModel>
        </div>
        <div class="col-12" style="margin-bottom: 20px;">
          <label for="company-id">Company name</label>
          <select name="company-id" id="company-id" class="form-control" required ngModel>
            <option value=""></option>
            <option value="{{company.company_id}}" *ngFor="let company of companies">{{company.company_name}}</option>
          </select>
        </div>
        <div class="col-12" style="margin-bottom: 20px;">
          <div class="form-group">
            <label for="experience">Your experience</label>
            <select name="experience" id="experience" class="form-control" required ngModel>
              <option value=""></option>
              <option value="{{range}}" *ngFor="let range of experienceRanges">{{range}}</option>
            </select>
          </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px;">
          <div class="form-group">
            <label for="last-position">What position did you hold at your last job?</label>
            <select name="last-position" id="last-position" class="form-control" required ngModel>
              <option value=""></option>
              <option value="{{position}}" *ngFor="let position of positionsAtCompany">{{position}}</option>
            </select>
          </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px;">
          <div class="form-group">
            <label for="salary-range">In what range was your salary? (in dollars)</label>
            <select name="salary-range" id="salary-range" class="form-control" required ngModel>
              <option value=""></option>
              <option value="{{salaryRange}}" *ngFor="let salaryRange of salaryRanges">{{salaryRange}}</option>
            </select>
          </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px;">
          <div class="form-group">
            <label for="responsibilities">Describe in 800 characters or less what you did at your last job:</label>
            <textarea id="responsibilities" maxlength="800" class="form-control" ngModel name="responsibilities" required placeholder="Your responsibilities" cols="30" rows="6"></textarea>
          </div>
        </div>
        <div class="col-12">
          <button type="submit"  class="btn btn-success float-right" [disabled]="!f.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
