.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-404 {
    font-size: 40px;
    font-weight: bold;
    color: #00ACEE;
  }

  p {
    font-size: 26px;
    color: #00ACEE;
  }
}
